* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
html,
body {
  font-family: monospace;
  line-height: 1.4;
  height: 100%;
  width: 100%;
  color: #4b4b4b;
  background: #ffdfa5;
}
img {
  vertical-align: top;
}
ul {
  list-style: none;
}