.wrapper {
  overflow: hidden;
  min-height: 100%;
}
.list {
  margin: 2rem auto;
  width: 95%;
  font-size: 2rem;
  line-height: 1.4;
}
.radioinput {
  display: none;
}
.radioinput:checked+.item__label .label__image>img {
  max-height: 100vh;
  transition: 0.5s;
}
.radioinput:checked+.item__label .label__icon {
  transform: scale(1.5, -1);
}

.item__label {
  display: block;
  padding: 0.1rem 0;
}
.label__container {
  padding: 1rem;
  background: #ffebc6;
  border-radius: 7px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.label__title {
  flex: 0 1 90%;
}
.label__icon {
  flex: 1 0 10%;
  text-align: center;
  transform: scale(1.5, 1);

  transition: 0.5s;
}
.label__image {
  border-radius: 7px;
  overflow: hidden;
}
.label__image>img {
  max-width: 100%;
  max-height: 0;
}




/* .block_100 {
  height: 10px;
  background: #000;
  margin: 25px 0;
  transition: 0.3s;
}
.block_100:hover {
  height: 25px;
}
.block_200 {
  height: 10px;
  background: #000;
} */